*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

ul{
    list-style-type: none;
    display:flex;
    justify-content: right;
}

a{
    text-decoration: none;
    color:#F9faf8;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.hero, .footer{
    background-color: #1f2937;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header, .introduction{
    margin-left: 120px;
    margin-right: 120px;
    padding:16px;
    margin-bottom:80px;
}

.header.logo{
    font-size:24px;
    color: #F9faf8;
}

.introduction{
    display:flex;
    flex-direction:row;
    margin-bottom: 90px;
}

.intro-text{
    margin: 24px;

}

.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color:#F9faf8;
}

.hero-secondary-text, .header.links{
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 8px;
}

button{
    background-color:#3882f6;
    border:#e5e7eb;
    color:#e5e7eb;
    border-radius: 10%;
    padding-left:40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom:8px;
    font-weight: bold;
}



.information{
    font-size: 36px;
    color: #1f2937;
    margin:16px;
}

.info-header{
    display:flex;
    justify-content: center;
    font-weight: bolder;
    padding:16px;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.box-info{
    width: 120px;
    height: auto;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:60px;
}

.box-info img{
    border-color:#3882f6;
}

.box-info p{
    font-weight: lighter;
    font-size: 18px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.quote{
    background-color: #e5e7eb;
    padding:16px;
}

.quote-container{
    font-size: 36px;
    font: light italic;
    color: #1f2937;
}

.quote-container p{
    display:flex;
    justify-content: right;
}

.call-to-action{
    background-color: #3882f6;
    margin:48px;
    display: flex;
    flex-direction: row;
    padding:8px;
}

.call-to-action button{
    display: flex;
    flex-direction: right;
    justify-content: center;
}

.action-box{
    padding:32px;
    border-radius: 10%;

} 

.action-box.action{
    font-weight: bolder;
}

.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:8px;
}