* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #f9faf8;
  padding: 8px;
  font-size: 24px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.hero,
.footer {
  background-color: #1f2937;
}

.hero {
  padding: 20px 156px 20px 156px;
}

.header {
  height: 250px;
  width: auto;
  margin-right: 200px;
  margin-top: 0px;
}

.links {
  display: flex;
  justify-content: right;
  flex-direction: row-reverse;
}

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro-boxes {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 600px;
  height: auto;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
}

.hero-secondary-text {
  font-size: 18px;
}

.sign-up-button {
  background-color: #3882f6;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  height: 64px;
  width: 120px;
  border-radius: 16px;
}

.information {
  font-size: 36px;
  color: #1f2937;
  margin: 16px;
}

.info-header {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding: 8px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px;
  margin: 80px 320px;
}

.box-info {
  width: 80px;
  height: auto;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.box-info img {
  border-color: #3882f6;
}

.box-info p {
  font-weight: lighter;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  background-color: #e5e7eb;
  padding: 8px;
}

.quote-container {
  font-size: 36px;
  font: light italic;
  color: #1f2937;
  padding: 64px 32px;
}

.quote-container p {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 400px 0px;
}

.author {
  display: flex;
  justify-content: right;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

.action-container {
  background-color: #3882f6;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 20px 160px;
  justify-content: center;
  align-items: center;
  margin: 16px;
  border-radius: 16px;
}

.action-box {
  font-size: 24px;
  padding: 32px;
  border-radius: 10%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
